.footer_general {
    width: 40%;
    margin: 0 auto;
    margin-top: 8%;
    text-align: center;

    h4 {
        color: darkgrey;
    }

    .caja_icons { 

        .icons_redes {
            width: 40px;
            margin-inline: 3%;
            margin-top: 4%;
        }
    }
    

    p {
        color: gray;
        margin-top: 10%;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .footer_general {
        width: 100%;
        h4 {
            font-size: 16px;
        }
    
        .caja_icons { 
    
            .icons_redes {
                width: 20px;
            }
        }
        
    
        p {
            font-size: 10px;
        }
    }
}