.contenedor_cards {
    padding: 4%;
    width: 95%;
    margin: auto;
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // @include degrade;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;

    .card {
        margin: 20px;
        box-shadow: 0px 0px 10px black;
    }
}

// .titulo_card {
    
// }