.contenedor_cards {
    padding: 4%;
    width: 95%;
    margin: auto;
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    @include degrade;

    .name_marca {
        width: 100%;
        margin-bottom: 2%;
    }

    .uno {
        margin-top: 5%;
    }

    .dos {
        margin-top: 5%;
    }

    .card {
        margin: 20px;
        box-shadow: 0px 0px 10px black;

        .card-img-top {
            height: 100%;
        }
    }

    .ruta {
        color: white;
    }
}